{% include "header.html"%}


<div class="container m-5">
    <div class="card shadow m-auto">
        <h5 class="p-2 text-warning" style="border-bottom: 2px solid orange">Admin Login</h5> 
        <div class="card-body">
            <form method='post'>
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Email id</label>
                            <input type="text"  class="form-control" name="emailid" placeholder="Enter email" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password"  class="form-control" name="passwd" placeholder="Enter password" required>
                        </div>
                        
                    </div>
                    
                </div>
                <input class="m-2 px-2 btn btn-primary "  type="submit"  value="Login">
            </form>
        </div> 
    </div>
</div>
{% if error == "no" %}
<script>
    
    windows.location = ('{% url 'emphome' %}');
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert("something wrong ! Try again ....")
    
</script>
{% endif %}
