{% extends "admin_nav.html" %}

{% block main %}
<script>
    function checkpasswd()
    {
        if(document.signup.passwd.value != document.signup.cpasswd.value)
        {
            alert("confirm password not matched ");
            document.signup.cpasswd.focus();
            return false;
        }
        return true;

    }
</script>

<div class="card shadow m-5">
    <div class="card-body">
        <h5 class="p-2 text-warning" style="border-bottom: 2px solid orange">Change Admin Password</h5> 
        <div class="container-fluid">
            <form method="post" name="signup" onsubmit="return checkpasswd()">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password"  class="form-control" name="currpasswd" placeholder="Enter Current Password" required>
                        </div>   
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password"  class="form-control" name="passwd" placeholder="Enter New Password" required>
                        </div>
                        
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password"  class="form-control" name="cpasswd" placeholder="Confirm Password" required>
                        </div>
                    </div>
                </div>
                <input class="m-2 px-2 btn btn-primary"  type="submit"  value="Submit">
            </form>
        </div> 
    </div>
</div>
{% if error == "no" %}
<script>
    alert("Password Changed successfully")
    window.location = ('{% url "admin_login" %}');
</script>
{% endif %}
{% if error == "not" %}
<script>
    alert("Please Enter Correct Current Password.")
    document.signup.currpasswd.focus();
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert("something wrong ! Try again ....")
    
</script>
{% endif %}
{%endblock%}
